@import url("https://fonts.googleapis.com/css?family=Lato:400,900,400italic,700italic");
@import url(font-awesome.min.css);
@import url(normalize.css);
html {
  height: 100%;
}

body {
  background: #181818;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

body:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.6;
  background-image: url('../images/soundcloud-md.png');
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

*, :after, :before {
  box-sizing: border-box;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}

img {
  border: 1px solid #fff;
  background: #f0f0f0;
}

.number {
  font-size: 26pt;
  margin-top: 25px;
}

#app>.app-content {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: inherit;
}

.header .logo {
  width: 100px;
  height: 50px;
  margin-right: 10px;
  transition: margin .125s ease;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #282828;
  padding: 10px;
  color: #aaaaaa;
  border-bottom: 1px solid #181818;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 50px;
  z-index: 9;
}

.header .page-flows .flow {
  font-size: 20px;
  color: #aaaaaa;
  margin: 0 10px;
}

.header .page-flows .flow:hover {
  color: white;
}

.header .page-flows .flow .disabled {
  color: #5e5e5e;
}

.header .search {
  position: relative;
  width: 80%;
  margin-left: 1%;
}

.header .search input {
  border-radius: 15px;
  border: none;
  background: white;
  color: #181818;
  padding-left: 30px;
  outline: none;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/7022/ios-search.svg);
  background-repeat: no-repeat;
  background-size: 10%;
  background-position: 5px;
}

.header .navigation {
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header .navigation i {
  font-size: 20px;
}

.header .navigation i:hover {
  color: white;
  cursor: pointer;
}

.header .navigation__info img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
  display: inline-block;
}

.header .navigation__actions ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.header .navigation__actions ul li {
  font-weight: 400;
  font-size: 14px;
  background: inherit;
  transition: background .125s ease;
  border-radius: 3px;
  margin: 0;
  padding-left: 15px;
  padding-top: 7px;
}

.header .navigation__actions button {
  background: none;
  border: none;
}

.header .navigation__actions .dropdown-menu {
  background: #282828;
  margin-top: 25px;
  border-radius: 2px;
  padding: 0;
  border: none;
}

.header .navigation__actions .dropdown-menu:before {
  font-family: "Roboto";
  content: "\f365";
  position: absolute;
  top: -30px;
  right: 7px;
  color: #282828;
  font-size: 36px;
}

.header .navigation__actions .dropdown-menu a {
  color: #aaaaaa;
  transition: all 0.2s ease;
}

.header .navigation__actions .dropdown-menu a:hover {
  background: none;
  transition: all 0.2s ease;
}

.header .navigation__actions .dropdown-menu li {
  padding: 10px;
  margin: 0;
  transition: all 0.2s ease;
}

.header .navigation__actions .dropdown-menu li:hover {
  background: #aaaaaa;
  transition: all 0.2s ease;
}

.header .navigation__actions .dropdown-menu li:hover a {
  color: #c8c8c8;
  transition: all 0.2s ease;
}

.content {
  padding-top: 60px;
  display: flex;
  height: inherit;
  position: relative;
  flex-flow: row wrap;
  overflow-x: hidden;
}

.content__left {
  width: 5%;
}

.content__middle {
  width: 90%;
}

.content__right {
  width: 5%;
}

.header form>.search-bar {
  position: relative;
  height: 55px;
  display: inline-block;
  vertical-align: middle;
  width: 95%;
}

.header form>.search-bar .search-input {
  margin-bottom: 0;
  box-shadow: none;
  background: transparent;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  height: 35px;
  margin-top: 11px;
  font-weight: 400;
  width: 50%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  transition: border .25s ease, width .125s ease .125s;
}

.header form>.search-bar .search-input:focus {
  width: 100%:
}

.header form>.search-bar #search-button {
  position: absolute;
  top: 10px;
  left: 0;
  color: #8d9aa5;
}

.button-icon {
  background: transparent;
  color: #666;
  padding: .5em;
  font-size: 1em;
  border: none;
}

.navigation {
  color: #aaaaaa;
  overflow: hidden;
}

.navigation__list {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}

.navigation__list__header:after {
  font-family: "Roboto";
  content: "\f123";
}

.navigation__list .active:after {
  font-family: "Roboto";
  content: "\f126";
}

.navigation__list__item {
  color: #aaaaaa;
  padding: 5px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.navigation__list__item:hover {
  color: white;
  text-decoration: none;
  border-right: 3px solid #f50;
}

.navigation__list__item i {
  width: 25px;
  display: block;
}

.playlist {
  padding: 15px;
  background: #282828;
  border-top: 1px solid #181818;
  border-bottom: 1px solid #181818;
}

.playlist:hover {
  background: #424242;
}

.playlist:hover a {
  color: white;
}

.playlist a {
  color: #aaaaaa;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.playlist a:hover {
  text-decoration: none;
}

.playlist a i {
  font-size: 24px;
  color: white;
  margin-right: 15px;
}

.playing {
  background: #282828;
  border-bottom: 1px solid #181818;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.playing__art img {
  width: 50px;
  height: 50px;
}

.playing__song {
  color: #aaaaaa;
  padding-left: 15px;
  display: flex;
  flex-flow: column wrap;
}

.playing__song a {
  color: #aaaaaa;
}

.playing__song a:hover {
  color: white;
  cursor: pointer;
}

.playing__add {
  margin-left: auto;
  padding-right: 15px;
  color: #aaaaaa;
}

.current-track {
  background: #282828;
  padding: 5px 15px;
  display: flex;
  bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 12;
}

.current-track__actions {
  width: 5%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.current-track__actions a {
  display: inline-block;
  margin-right: 15px;
  font-size: 24px;
  color: #c8c8c8;
}

.current-track__actions a:hover {
  color: white;
  cursor: pointer;
}

.current-track__actions .play {
  font-size: 36px;
}

.current-track__progress {
  width: 70%;
  padding: 0 30px;
  color: #aaaaaa;
  font-size: 11px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.current-track__progress__bar {
  width: 100%;
  padding: 0 15px;
}

.current-track__progress__bar .noUi-target {
  border: none;
  height: 4px;
}

.current-track__progress__bar .noUi-base {
  background: #f50;
}

.current-track__progress__bar .noUi-origin {
  background: #5e5e5e;
}

.current-track__progress__bar .noUi-handle {
  background: #c8c8c8;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  left: 0;
  display: none;
}

.current-track__progress__bar .noUi-handle:before, .current-track__progress__bar .noUi-handle:after {
  background: none;
}

.current-track__progress:hover .noUi-handle {
  display: block;
}

.current-track__options {
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.current-track__options .lyrics {
  font-size: 11px;
  text-transform: uppercase;
  width: 15%;
  padding: 0 15px 0 0;
}

.current-track__options .controls {
  width: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.current-track__options .controls .devices:hover {
  text-decoration: none;
}

.current-track__options .controls .devices i {
  margin-right: 5px;
}

.current-track__options .controls .devices span {
  font-size: 11px;
  text-transform: uppercase;
}

.current-track__options .controls .volume {
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.current-track__options .controls .volume i {
  width: 20px;
  color: #aaaaaa;
}

.current-track__options .controls .volume #song-volume {
  width: calc( 80% - 20px);
  border: none;
  height: 4px;
}

.current-track__options .controls .volume #song-volume .noUi-base {
  background: #c8c8c8;
}

.current-track__options .controls .volume #song-volume .noUi-origin {
  background: #5e5e5e;
}

.current-track__options .controls .volume #song-volume .noUi-handle {
  background: #c8c8c8;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  left: 0;
  display: none;
}

.current-track__options .controls .volume #song-volume .noUi-handle:before, .current-track__options .controls .volume #song-volume .noUi-handle:after {
  background: none;
}

.current-track__options .controls .volume #song-volume:hover .noUi-handle {
  display: block;
}

.track {
  height: 617px;
}

.track__header {
  height: 320px;
  border-bottom: 1px solid #282828;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.track__header:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.15;
}

.track__header .track__info {
  padding: 15px;
  z-index: 1;
  width: 80%;
  margin-top: 78px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
}

.track__header .track__info .profile__img {
  margin-right: 15px;
}

.track__header .track__info .profile__img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.track__header .track__info__type {
  color: #aaaaaa;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
}

.track__header .track__info__name {
  color: white;
  font-size: 36px;
  font-weight: 100;
  padding: 0 0 10px 0;
}

.track__header .track__info__actions {
  display: flex;
  flex-flow: row wrap;
}

.track__header .track__info__actions button {
  margin-right: 10px;
  height: 27px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 0 15px;
  font-weight: 500;
}

.track__header .track__info__actions button i {
  font-size: 20px;
  margin-right: 5px;
}

.track__header .track__info__actions .more {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.track__header .track__info__actions .more i {
  margin: 0;
  padding-left: 6px;
}

.track__header .track__listeners {
  width: 20%;
  z-index: 1;
  padding: 15px;
  text-align: right;
  color: #aaaaaa;
  font-weight: 100;
  font-size: 16px;
  letter-spacing: 1px;
}

.track__header .track__listeners__label {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
}

.track__header .track__navigation {
  width: 100%;
  z-index: 1;
  background: rgba(24, 24, 24, 0.6);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.track__header .track__navigation ul {
  border: none;
}

.track__header .track__navigation ul li {
  padding: 0 15px;
}

.track__header .track__navigation ul li a {
  padding: 15px 0;
  color: #aaaaaa;
  border: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  border-bottom: 4px solid transparent;
}

.track__header .track__navigation ul li a:hover {
  background: none;
  border: none;
  color: white;
  transition: all 0.4s ease;
  border-bottom: 4px solid transparent;
}

.track__header .track__navigation ul li.active a {
  color: white;
  background: none;
  border: none;
  border-bottom: 4px solid #f50;
}

.track__header .track__navigation ul li.active a:hover {
  border-bottom: 4px solid #f50;
}

.track__header .track__navigation__friends {
  padding: 15px;
}

.track__header .track__navigation__friends img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
}

.track__header .track__navigation__friends .tooltip {
  z-index: 1;
  position: absolute;
}

.artist.is-verified .profile__img {
  position: relative;
}

.artist.is-verified .profile__img:after {
  font-family: "Ionicons";
  content: "\f3fd";
  position: absolute;
  bottom: 5px;
  right: 25px;
  color: white;
  background: #4688d7;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 18px;
  line-height: 1;
}

.track__content {
  padding: 15px;
}

.track__content .overview {
  display: flex;
  flex-flow: row wrap;
}

.track__content .overview__track {
  padding-right: 15px;
  width: 70%;
}

.track__content .overview__track .track-details {
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
}

.track__content .overview__track .track-details__art {
  width: 75px;
}

.track__content .overview__track .track-details__art img {
  width: 75px;
  height: 75px;
}

.track__content .overview__track .track-details__song {
  width: calc( 100% - 75px);
  padding: 10px 15px;
  background: #282828;
  color: #aaaaaa;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.track__content .track-details__song__desc {
  font-size: 11pt;
}

.track__content .overview__track .track-details__song__title {
  color: #c8c8c8;
}

.track__content .overview__track-info__box {
  width: 225px;
  height: 65px;
  position: relative;
  display: inline-block;
}

.overview__track-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.track__content .overview__track-info__box .box {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
  color: white;
  font-size: 14px;
  padding-top: 15px;
  padding-right: 15px;
}

.box small {
  font-size: 11pt;
}

.track__content .overview__related {
  width: 30%;
}

.tracks {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}

.tracks__heading {
  color: #aaaaaa;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.tracks__heading__number {
  margin-left: 10px;
  font-style: italic;
}

.tracks__heading__title {
  margin-left: 70px;
  width: 45%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.tracks__heading__length {
  margin-left: auto;
  font-size: 20px;
}

.tracks__heading__popularity {
  font-size: 20px;
  margin-left: 55px;
  padding-right: 10px;
}

.tracks .track {
  border-top: 1px solid #282828;
  height: 42px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.tracks .track:hover {
  background: #282828;
}

.tracks .track:last-child {
  border-bottom: 1px solid #282828;
}

.tracks .track__art img {
  width: 42px;
  height: 42px;
}

.tracks .track__number {
  margin-left: 10px;
  color: #aaaaaa;
  width: 12px;
}

.tracks .track__added {
  margin-left: 30px;
  color: #c8c8c8;
}

.tracks .track__added .added {
  color: #c8c8c8;
}

.tracks .track__added .not-added {
  color: #aaaaaa;
}

.tracks .track__title {
  width: 45%;
  margin-left: 30px;
  color: white;
}

.tracks .track__title.featured .title:after {
  content: "-";
  margin: 0 5px;
}

.tracks .track__title.featured .feature {
  color: #aaaaaa;
}

.tracks .track__title.featured .feature:after {
  content: ",";
  margin-right: 5px;
}

.tracks .track__title.featured .feature:last-child:after {
  content: "";
  margin-right: 0;
}

.tracks .track__title.featured .feature:hover {
  cursor: pointer;
  color: #c8c8c8;
  text-decoration: underline;
}

.tracks .track__explicit .label {
  border: 1px;
  border-style: solid;
  border-color: #424242;
  color: #424242;
  text-transform: uppercase;
}

.tracks .track__plays {
  color: #aaaaaa;
  margin-left: auto;
  padding-right: 10px;
}

.tracks .track__length {
  margin-left: auto;
  color: #aaaaaa;
}

.tracks .track__popularity {
  margin-left: 46px;
  padding-right: 10px;
  font-size: 20px;
  color: #aaaaaa;
}

.related-tracks {
  display: flex;
  flex-flow: column wrap;
}

.related-tracks .related-track {
  background: #282828;
  padding: 5px;
  margin-bottom: 2px;
}

.related-tracks .related-track:hover {
  background: #373737;
  text-decoration: none;
}

.related-tracks .related-track__img img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.related-tracks .related-track__name {
  margin-left: 15px;
  color: white;
}

.overview__albums {
  width: 100%;
  margin-top: 30px;
}

.overview__albums__head {
  border-bottom: 1px solid #282828;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.overview__albums__head .view-type {
  color: white;
  margin-bottom: 4px;
}

.overview__albums__head .view-type .active {
  background: #282828;
  padding: 8px;
  border-radius: 50%;
}

.overview__albums__head .view-type i {
  padding: 8px;
  border-radius: 50%;
}

.overview__albums__head .view-type i:hover {
  padding: 8px;
  border-radius: 50%;
  background: #353535;
  cursor: pointer;
}

.album__info {
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
}

.album__info__art img {
  width: 135px;
  height: 135px;
}

.album__info__meta {
  width: calc( 100% - 150px);
  margin-left: 15px;
  display: flex;
  flex-flow: column wrap;
}

.album__info__meta .album__year {
  color: #aaaaaa;
  letter-spacing: 1px;
}

.album__info__meta .album__name {
  color: white;
  font-size: 30px;
  font-weight: 100;
}

.album__info__meta .album__actions {
  margin-top: auto;
}

.album__info__meta .album__actions .save {
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
}

.album__info__meta .album__actions .save:hover {
  border-color: #f50;
}

.album__info__meta .album__actions .more {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  padding: 0;
  text-align: center;
}

.album .track__title {
  width: 70%;
}

.social {
  padding: 15px;
  text-align: center;
  overflow-y: scroll;
}

.social .friends {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 15px;
}

.social .friends .friend {
  padding: 15px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.social .friends .friend:first-child {
  padding-top: 0;
}

.social .friends .friend i {
  font-size: 20px;
  margin-right: 15px;
}

.media-cards {
  display: flex;
  flex-flow: row wrap;
}

.media-cards .media-card {
  margin: 15px;
  width: calc( (100% / 4) - 30px);
}

.media-cards .media-card__image {
  height: 125px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.media-cards .media-card__image i {
  color: white;
  font-size: 72px;
  margin: 0 auto;
  opacity: 0;
  transition: all 0.5s ease;
  text-shadow: 1px 5px 15px #181818;
}

.media-cards .media-card__image i:hover {
  cursor: pointer;
}

.media-cards .media-card__image:hover i {
  opacity: 1;
  transition: all 0.5s ease;
}

.media-cards .media-card__footer {
  display: block;
  background: #282828;
  padding: 15px;
  color: white;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.media-cards .media-card__footer:hover {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #373737;
}

.h1 {
  font-size: 36px;
}

.h2, .navigation__list__header {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.red {
  color: #fc615c;
}

.red:hover {
  color: #fb302a;
}

.yellow {
  color: #fdbe41;
}

.yellow:hover {
  color: #fcad0f;
}

.green {
  color: #34c94a;
}

.green:hover {
  color: #2aa03b;
}

button {
  border-radius: 20px;
  border: none;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.button-dark {
  background: #f50;
  color: white;
  border: 1px solid #f50;
}

.button-dark:hover {
  border-color: white;
}

.button-light {
  background: none;
  color: #c8c8c8;
  border: 1px solid #c8c8c8;
}

.button-light:hover {
  border-color: white;
  color: white;
}

.section-title {
  text-transform: uppercase;
  color: #aaaaaa;
  letter-spacing: 1.25px;
  font-size: 13.2px;
  margin-bottom: 10px;
}


/** LOADER - APPMESSAGE */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#loader {
  position: fixed;
  top: 6%;
  right: 3%;
}

#loader p {
  color: #fff;
}

#loader.show {
  display: block;
}

#app-message.show {
  right: 0px;
}

#app-message.hide {
  right: -100px;
}

#loader.hide {
  display: none;
}

#loader .line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 25px;
}

#loader .line:nth-child(1) {
  background: #27ae60;
}

#loader .line:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

#loader .line:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

#loader .line:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

#loader p {
  margin: 0px 0px 25px 0px;
}

#app-message {
  justify-content: center;
  position: absolute;
  width: 175px;
  height: 100px;
  top: 0px;
  right: -100px;
  transition: right .25s ease;
  z-index: 4;
}

#app-message p {
  position: absolute;
  top: 25%;
  width: 100%;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}


/** progress bar **/

.progress {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  height: 8px;
}

.progress {
  height: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  /*background-color: #fff;*/
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
  background-color: #7A9E9F;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #B33C12;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
