@import url("https://fonts.googleapis.com/css?family=Lato:400,900,400italic,700italic");
@import url(font-awesome.min.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  background: #f7f7f7;
  color: #333;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif
}

*, :after, :before {
  box-sizing: border-box;
}

h2, .title-list .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

h2, .track-details .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1em;
}

p.text-danger, .text-danger:hover {
  color: #B33C12 !important;
}

p.text-info, .text-info:hover {
  color: #3091B2 !important;
}

p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 1em;
}

a {
  color: #f63;
  text-decoration: none;
  line-height: inherit;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.app-content {
  display: block;
  width: 100%;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 25px;
  padding-top: 100px;
}

.header {
  background-color: #fff;
  display: flex;
  flex: 1;
  padding: 18px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 90px;
  box-sizing: border-box;
  z-index: 5;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.settings form {
  display: block;
  width: 65%;
}

.settings form .input-group-addon {
  cursor: pointer;
}

i.fa-cog {
  color: #e50914;
  font-size: 16pt;
}

i.fa-cog:hover {
  color: #fff;
}

.logo {
  width: 100px;
  height: 50px;
  margin-right: 10px;
  transition: margin .125s ease;
}

.logo:hover {
  cursor: pointer;
}

.navigation {
  position: absolute;
  right: 0;
  top: 25px;
}

.navigation ul {
  display: flex;
  height: 37px;
  align-items: center;
  padding: 0 10px;
  list-style: none;
}

.navigation ul li {
  font-weight: 400;
  padding: 7px 10px;
  font-size: 14px;
  background: inherit;
  transition: background .125s ease;
  border-radius: 3px;
}


li.navigation-item a {
  color: #e50914;
}

li.navigation-item a:hover {
  color: #a50914;
}

header form {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 50%;
}

form>.search-bar {
  position: relative;
  height: 55px;
  display: inline-block;
  vertical-align: middle;
  width: 95%;
}

header .search-bar .search-input {
  -webkit-transition: all .4s cubic-bezier(.68, -.55, .265, 1.55);
  -moz-transition: all .4s cubic-bezier(.68, -.55, .265, 1.55);
  transition: all .4s cubic-bezier(.68, -.55, .265, 1.55);
}

form>.search-bar .search-input {
  margin-bottom: 0;
  box-shadow: none;
  background: #f5f7fa;
  border-radius: 0;
  padding-left: 2.5em;
  padding-right: 1.5em;
  border: 1px solid #ccc;
  color: #666;
  font-size: 14px;
  height: 45px;
  margin-top: 5px;
  font-weight: 400;
  width: 50%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  transition: border .25s ease, width .125s ease .125s;
}

form>.search-bar .search-input:focus {
  width: 100%;
  border-color: #e50914;
}

.search-bar #search-button {
  position: absolute;
  top: 10px;
  left: 0;
  color: #8d9aa5;
}

.button-icon {
  background: transparent;
  color: #666;
  padding: .5em;
  font-size: 1em;
  border: none;
}

.button, .button-primary, button {
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem;
  font-size: 1rem;
  background-color: #f63;
  border: 1px solid #f53d00;
  color: #fff;
  transition: background-color .3s ease-out;
}

a.button, a.button-primary, button {
  outline: none;
  border: 0;
  margin-bottom: 0;
}

.user-profile {
  margin-left: auto;
}

.user-profile .user {
  display: flex;
}

.user-profile .user .image {
  border-radius: 44px;
  margin-left: 10px;
  overflow: hidden;
  width: 44px;
  height: 44px;
  box-sizing: border-box;
  border: 3px solid transparent;
  transition: border .125s ease;
}

.user-profile .user .image img {
  width: 100%;
  display: block;
}

.user-profile .user .name {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 300;
  height: 44px;
}

.user-profile .user:hover {
  cursor: pointer;
}

.user-profile .user:hover .image {
  border: 3px solid #e50914;
}

.user-profile .user-profile-menu {
  display: none;
}

.hero {
  width: 100%;
  position: relative;
  background-size: cover;
}

.hero .content {
  position: relative;
  z-index: 4;
  width: 500px;
  left: 10vw;
  top: 10vw;
}

.empty {
  width: 100%;
  text-align: center;
}

.hero .content .logo {
  max-width: 400px;
  display: block;
  position: relative;
  left: -5px;
}

.hero .content p {
  width: 100%;
  max-height: 100px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
}

.hero .content .button-wrapper {
  display: flex;
  width: 400px;
  margin-top: 30px;
}

.hero .content .button-wrapper .button:first-child {
  margin-right: 10px;
}

.hero .overlay {
  background: -moz-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #221f1f 0%, rgba(34, 31, 31, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  transform: rotate(180deg);
}

.button {
  background: transparent;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border: 2px solid rgba(245, 245, 241, 0.2);
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
  transition: border .125s ease, background .125s ease;
}

.button:hover {
  border: 2px solid #f5f5f1;
}

.button[data-primary='true'] {
  border: 2px solid #e50914;
}

.button[data-primary='true']:hover {
  background: #e50914;
}

.hero~.title-list:nth-child(3) {
  margin-top: -10vw;
  position: relative;
  z-index: 4;
}

.title-list {
  padding: 200px 40px;
  box-sizing: border-box;
  transition: opacity 3s ease;
  opacity: 0;
}

.title-list .titles-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  width: calc(100vw - 80px);
  box-sizing: border-box;
  justify-content: space-between;
}

.title-list[data-loaded='true'] {
  opacity: 1;
}

.item {
  width: calc(20% - 10px);
  min-width: calc(20% - 10px);
  background-color: #000000;
  flex: 1 0 auto;
  background-position: center;
  background-size: 100%;
  height: 100px;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-right: 10px;
  transition: background 1s ease;
  cursor: pointer;
}

.item:nth-child(n+6) {
  margin-top: 20px;
}

.item:last-child {
  margin-right: 0;
}

.item .overlay {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
  padding: 20px;
  position: relative;
  height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity .125s ease;
}

.item .overlay .title {
  font-size: 14px;
  font-weight: 200;
  opacity: 0;
  transition: opacity .25s ease;
}

.item .overlay .rating {
  font-size: 14px;
  opacity: 0;
  transition: opacity .25s ease .125s;
}

.item .overlay .plot {
  font-size: 14px;
  display: -webkit-box;
  margin-top: 100px;
  font-weight: 300;
  line-height: 1.6;
  opacity: 0;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin .25s ease .125s, opacity .25s ease .25s;
}

.item:hover {
  background-size: 150%;
}

.item:hover .overlay {
  opacity: 1;
  pointer-events: all;
}

.item:hover .overlay .plot {
  margin-top: 10px;
  opacity: 1;
}

.item:hover .overlay .title {
  opacity: 1;
}

.item:hover .overlay .rating {
  opacity: 1;
}

.item:hover .overlay .list-toggle {
  opacity: 1;
}

.list-toggle {
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  font-size: 16px;
  border-radius: 32px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0;
}

.list-toggle:hover {
  border: 2px solid #ffffff;
}

.list-toggle:hover div {
  top: -32px;
}

.list-toggle[data-toggled="true"] {
  background: #e50914;
  border: 2px solid #e50914;
}

.list-toggle[data-toggled="true"] div {
  top: -32px;
}

.list-toggle div {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  width: 32px;
  transition: .125s ease;
}

.list-toggle div i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}


/** LOADER - APPMESSAGE */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

#loader {
  position: fixed;
  top: 50%;
  left: 50%;
}

#loader.show {
  display: block;
}

#app-message.show {
  right: 0px;
}

#app-message.hide {
  right: -100px;
}

#loader.hide {
  display: none;
}

#loader .line {
  animation: expand 1s ease-in-out infinite;
  border-radius: 10px;
  display: inline-block;
  transform-origin: center center;
  margin: 0 3px;
  width: 1px;
  height: 25px;
}

#loader .line:nth-child(1) {
  background: #27ae60;
}

#loader .line:nth-child(2) {
  animation-delay: 180ms;
  background: #f1c40f;
}

#loader .line:nth-child(3) {
  animation-delay: 360ms;
  background: #e67e22;
}

#loader .line:nth-child(4) {
  animation-delay: 540ms;
  background: #2980b9;
}

#loader p {
  margin: 0px 0px 25px 0px;
}

#app-message {
  justify-content: center;
  position: absolute;
  width: 175px;
  height: 100px;
  top: 0px;
  right: -100px;
  transition: right .25s ease;
  z-index: 4;
}

#app-message p {
  position: absolute;
  top: 25%;
  width: 100%;
}

@keyframes expand {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(2);
  }
}


/** images **/

img {
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid #dddddd;
  padding: 5px;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  background: #f0f0f0;
}


/** progress bar **/

.progress {
  background-color: transparent;
  border-radius: 3px;
  box-shadow: none;
  height: 8px;
}

.progress {
  height: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  /*background-color: #fff;*/
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
  background-color: #7A9E9F;
}

.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #B33C12;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
