<template class="page-template">
  <section id="home-section" class="section js-section">
    <div class="section-header">
      <h1>Soundload</h1>
      <br/>
        <form>
          <div class="field first">
            <input type="text" name="soundcloud-url" id="soundcloud-url" placeholder="Enter soundcloud url">
					</div>
          <ul class="actions">
            <li><input type="submit" value="Discover" class="special"></li>
          </ul>
				</form>
      </div>
      <div class="section-content">
        <div style="text-align: center;"><span class="size"></div>
        <div class="progress-wrap progress">
          <div class="progress-bar progress"></span></div>
        </div>
      </div>
    </section>
</template>
