<template class="page-template">
  <section id="settings-section" class="section js-section">
    <div class="section-header">
      <h1>Settings</h1>
    </div>
  <div class="section-content">
    <form>
      <div class="field first">
        <label>Output folder</label>
        <input type="text" name="output-dir" id="output-dir" placeholder="Output directory" disabled="">
      </div>
      <ul class="actions">
        <li><input type="submit" id="apply-settings" value="Select folder" class="special"></li>
      </ul>
    </form>
  </div>
</section>
</template>
